body{
  margin: 0;
  background: rgba(128, 94, 0, 0.5);
}

.manu{
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 0px;
  overflow: auto;
}
.head{
  float: right;
  padding: 20px 20px;
}
/*.manu:hover{

}*/
.list li{
  list-style-type: none;
  float: left;
  padding-right: 17px;
}
.list li a{
  text-decoration: none;
  color: inherit;
}
.l1:hover{
  color: rgba(255, 187, 0, 0.5);
  text-shadow: 0.5px 0.5px rgba(255, 187, 0, 0.5);
}
.l2:hover{
  color: rgba(255, 187, 0, 0.5);
  text-shadow: 0.5px 0.5px rgba(255, 187, 0, 0.5);
}
.l3:hover{
  color: rgba(255, 187, 0, 0.5);
  text-shadow: 0.5px 0.5px rgba(255, 187, 0, 0.5);
}
.l4:hover{
  color: rgba(255, 187, 0, 0.5);
  text-shadow: 0.5px 0.5px rgba(255, 187, 0, 0.5);
}
@media (max-width:700px) {
  .list{
    display: none;
  }
  .list li{
    float:none;
    padding-top: 15px 15px;
  }
  .manu:hover .list{
    display: block;
  }
}
.pard{
  width: 50%;
  float :left;
}
.klong{
  border: solid 1px black;
  box-shadow: 5px 5px black;
  padding: 5px;
  margin: 10px;
  float: left;
  box-sizing: border-box;
}
